<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/cd602ef1ac.js"></script>
    <link rel="stylesheet" href="/template/style/flex.css">
</head>
<body>
<div id="wrapper">
    <div class="navBar" id="nav">
        <div class="navLeft">
            <span>FLEX</span>
        </div>
        <div id="dropMenu" class="bar-opener"><i class="fas fa-bars"></i></div>
        <div class="navRight">
            <ul>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="#">EXTERNAL</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#top">HOME</a></li>
            </ul>
        </div>
        <div id="Menu" class="menu">
            <ul>
                <li><a href="#top">HOME</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#">EXTERNAL</a></li>
                <li><a class="active" href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div id="top">
        <div class="slideshow">
            <div class="slide fade">
                <img src="/template/images/slide1.jpg" alt="slide1" style="width: 100%">
                <div class="caption1">
                    <h1>DIGITAL MARKETING</h1>
                    <p>MORE VISITORS TO YOUR WEBSITE</p>
                </div>
            </div>
            <div class="slide fade">
                <img src="/template/images/slide2.jpg" alt="slide1" style="width: 100%">
                <div class="caption1">
                    <h1>RESPONSIVE HTML CSS</h1>
                    <p>DOWNLOAD AND USE IT FOR YOUR SITE</p>
                    <a href="#portfolio" class="caption1-btn">GO TO PORTFOLIO</a>
                </div>
            </div>
            <div class="slide fade">
                <img src="/template/images/slide3.jpg" alt="slide1" style="width: 100%;">
                <div class="caption1">
                    <h1>PRO LEVEL DESIGN</h1>
                    <p>HIGH STANDARD WORK</p>
                </div>
            </div>
            <div id="dots" style="text-align: center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <div class="socialMedia">
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
        <div id="services">
            <div class="caption2">
                <h1>OUR SERVICES</h1>
                <p>WE DESIGN MOBILE-FIRST WEBSITES FOR YOU</p>
            </div>
            <div class="box">
                <div class="box-item">
                    <div class="flip">  
                        <div class="box-image" style="background-color: rgb(0, 187, 145)"><i class="far fa-file-code"></i></div>
                        <div class="box-text" style="background-color: rgb(0, 187, 145)">
                            <h3>HTML5 CODING</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">  
                        <div class="box-image" style="background-color: rgb(225, 113, 0)"><i class="far fa-paper-plane"></i></div>
                        <div class="box-text" style="background-color: rgb(225, 113, 0)">
                            <h3>OUR SUPPORT</h3>
                            <p>We make HTML CSS templates that are responsive for any screen size on any device. Feel free to download and use our templates without restrictions.</p>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">  
                        <div class="box-image" style="background-color: rgb(0, 143, 213)"><i class="fas fa-university"></i></div>
                        <div class="box-text" style="background-color: rgb(0, 143, 213)">
                            <h3>OUR DESIGN</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">  
                        <div class="box-image" style="background-color: rgb(0, 204, 102)"><i class="fas fa-flask"></i></div>
                        <div class="box-text" style="background-color: rgb(0, 204, 102)">
                            <h3>GO FOR MOBILE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet, consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio">
            <div class="caption2">
                <h1>OUR PORTFOLIO</h2>
                <p>AMAZING WORK FOR OUR CLIENTS</p>
            </div>
            <div class="box">
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p1.jpg" alt="p1"></div>
                        <div class="box-text">
                            <h3>NEW WALK</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p2.jpg" alt="p2"></div>
                        <div class="box-text">
                            <h3>BOAT</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p7.jpg" alt="p7"></div>
                        <div class="box-text">
                            <h3>URBAN</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p8.jpg" alt="p8"></div>
                        <div class="box-text">
                            <h3>CYCLING</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p3.jpg" alt="p3"></div>
                        <div class="box-text">
                            <h3>DIGITAL ERA</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p4.jpg" alt="p4"></div>
                        <div class="box-text">
                            <h3>HORIZON</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p5.jpg" alt="p5"></div>
                        <div class="box-text">
                            <h3>AQUATIC CITY</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image"><img src="/template/images/p6.jpg" alt="p6"></div>
                        <div class="box-text">
                            <h3>NEW PATH</h3>
                            <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="team">
            <div class="caption2">
                <h1>OUR TEAM</h1>
                <p>OUR PEOPLE ARE WERY UNITED FOR YOUR SUCCES</p>
            </div>
            <div class="box">
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image" style="background-image: url(/template/images/member1.jpg)"></div>
                        <div class="box-text">
                            <h3>TRACY</h3>
                            <p>DESIGNER</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-twitter" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in" style="color: #ec523f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image" style="background-image: url(/template/images/member2.jpg)"></div>
                        <div class="box-text">
                            <h3>CINDY</h3>
                            <p>DEVELOPER</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-twitter" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in" style="color: #ec523f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image" style="background-image: url(/template/images/member3.jpg)"></div>
                        <div class="box-text">
                            <h3>MARY</h3>
                            <p>DIRECTOR</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-twitter" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in" style="color: #ec523f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="flip">
                        <div class="box-image" style="background-image: url(/template/images/member4.jpg)"></div>
                        <div class="box-text">
                            <h3>LINDA</h3>
                            <p>CHIEF EXECUTIVE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-twitter" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f" style="color: #ec523f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in" style="color: #ec523f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills">
                <div class="caption3">
                <h3>DESIGN SKILLS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="container">
                    <div class="txt">
                        <p>Aliquam faucibus in dolor sed vestibulum. Sed adipiscing malesuada luctus. Morbi tincidunt, tellus scelerisque scelerisque scelerisque, sapien dui pretium augue, at consectetur sapien tellus vitae nunc. Ut vitae metus quis nulla cursus adipiscing pretium vel dolor. Fusce lacinia accumsan arcu, quis porttitor nisi tincidunt ut. Nunc malesuada nunc eget nunc sollicitudin posuere. Maecenas vitae tortor quis odio hendrerit sagittis.</p>
                        <p>Etiam tincidunt, magna eu elementum tristique, sapien nisl venenatis lacus, nec sagittis lectus dui eget lorem. Donec in tempus mi. Aenean egestas interdum dolor, et mollis lectus consequat. Mauris ullamcorper, felis sit amet gravida malesuada, nisi sem rhoncus massa, non tempor est erat sit amet diam.</p>
                    </div>
                    <div class="statistics">
                        <div id="progress"><div class="first">PHOTOSHOP 90%</div></div>
                        <div id="progress"><div class="second">HTML CSS 80%</div></div>
                        <div id="progress"><div class="third">DEVELOPMENT 70%</div></div>
                        <div id="progress"><div class="fourth">MARKETING 80%</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact">
            <div class="caption2">
                <h1>CONTACT</h1>
                <p>SEND ME A MESSAGE</p>
            </div>
            <div class="container">
                <div class="txt">
                    <p>Flex is a Bootstrap v3.1.1 HTML CSS web template by <span style="color:blue">template</span><span style="color: green"></span>mo</span>. Slider images and portfolio images are from <a href="https://unsplash.com/">Unsplash </a> website. Thank you for visiting. Please tell your friends about templatemo.</p>
                    <p>Hic, suscipit, praesentium earum quod ea distinctio impedit ullam deserunt minus dolore quibusdam quis saepe aliquam doloribus voluptatibus eum excepturi. Aenean semper erat neque. Nunc et scelerisque nunc, in adipiscing magna.</p>
                    <p>Duis ullamcorper tortor tellus. Ut diam libero, ultricies non augue a, mollis congue risus. Fusce a quam eget nisi luctus imperdiet. Consectetur quod at aperiam corporis totam. Nesciunt minima laborum sapiente totam facere unde est cum quia.</p>
                    <ul class="info">
                        <li>Phone: 033-033-0660</li>
                        <li>Email: <a href="#">info@company.com</a></li>
                        <li>Address: 880 De Best Studio. Fork Street. San Francisco</li>>
                    </ul>
                </div>
                <div class="message">
                    <input type="text" id="name" placeholder="Your Name">
                    <input type="email" id="email" placeholder="Your Email">
                    <input type="text" id="subject" placeholder="Subject">
                    <input type="text" id="msg" placeholder="Message">
                    <button class="message-btn" >SEND MESSAGE</button>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="copyright">
                <p>Copyright © 2014 Company Name</p>
                <div class="buttonTop"><a href="#top">BACK TO TOP</a></div>
            </div>
        </div>
</div>
<script>
    document.getElementById("dropMenu").onclick = function(){open()}
    function open(){
        document.getElementById("Menu").classList.toggle("open")
    }
    var slideIndex = 0;
        showSlides();

        function showSlides() {
        var i;
        var slides = document.getElementsByClassName("slide");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none"; 
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for(i = 0;i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active"; 
        setTimeout(showSlides, 2500);
    }
</script>
</body>
</html>