<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/template/style.css">
    <script src="https://kit.fontawesome.com/cd602ef1ac.js"></script>
</head>
<body>
    <div class="root">
        <img src="/template/images/slide1.jpg" alt="slide1" width="100%" height="100%" style="opacity: 0.8">
        <div class="links">
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
        </div>
        <div class="navigation">
            <div class="navLeft"> 
                <img src="/template/images/1.jpg" alt="flex" height="100%" width="auto">
                <div style=" position: absolute; top: 50%; transform: translateY(-30%); padding: 2%; left: 120%; font-size: 1.5vw; font-weight: 700">FLEX</div></div>
            <div style="padding: 2%">
            <ul>
                <li><a class="active" href="#home">CONTACT</a></li>
                <li><a href="#services">TEAM</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#team">SERVICES</a></li>
                <li><a href="#contact">HOME</a></li>
            </ul>
            </div>
        </div>
        <div class="container" style=" bottom: 10%;">
            <h4 style="color: aliceblue;">DIGITAL STUDIO</h4>
            <p style="color: aliceblue;">LET US DESIGN YOUR WEBSITE</p>
            <button>RESPONSIVE TEMPLATE</button>
        </div>
    </div>
    <div class="parent">
        <div class="container" style="top: 0%;position: relative;">
            <h4>OUR SERVICES</h4>
            <p>LET US HELP YOU TO CREATE PROFESSIONAL WEBSITES</p>
        </div>
        <div id="pictures">
            <div style="background:rgb(27, 188, 107)"><i class="far fa-file-code"></i></div>
            <div style="background:rgb(255, 97, 24)"><i class="far fa-paper-plane"></i></div>
            <div style="background:rgb(27, 144, 199)"><i class="fas fa-university"></i></div>
            <div style="background:rgb(3, 202, 47)"><i class="fas fa-flask"></i></div>
        </div>
        <div class="container" style="position: relative">
            <h4>PORTFOLIO</h4>
            <p>WHAT WE HAVE DONE SO FAR</p>
        </div>
        <div id="pictures">
            <div><img src="/template/images/image1.jpg" alt="img1" width="100%"></div>
            <div><img src="/template/images/image2.jpg" alt="img2" width="100%"></div>
            <div><img src="/template/images/image3.jpg" alt="img3" width="100%"></div>
            <div><img src="/template/images/image4.jpg" alt="img4" width="100%"></div>
        </div>
        <div id="pictures">
            <div><img src="/template/images/image5.jpg" alt="img5" width="100%"></div>
            <div><img src="/template/images/image6.jpg" alt="img6" width="100%"></div>
            <div><img src="/template/images/image7.jpg" alt="img7" width="100%"></div>
            <div><img src="/template/images/image8.jpg" alt="img8" width="100%"></div>
        </div>
    </div>

    </div>
</body>
</html>