*{
    box-sizing: border-box; 
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#wrapper{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.root{
    position: relative;
    width: 100%;
    height: 30%;
    margin: auto;
    border: 0px;
    background-image: url(/HTML-CSS/template/images/slide1.jpg);
    background-size: cover;
    background-color: black;
}
.parent{
    position: relative;
    width: 100%;
    height: 70%;
    margin: auto;
}
.links{
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    height: auto;
    text-align: center;
    top: 10%; 
    width: 40%;
}
.navigation{
    justify-content: space-between;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    height: 45px;
    top: 30%; 
    width: 80%;
    background-color: aliceblue
}
.navLeft{ 
    font-family: sans-serif;
    color: tomato;
    position: absolute;
    height: 100%;
}
#nav{
    justify-content: flex-end;
}
.links i{
    width: 10%;
    height: 10%;
    font-size: 1vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    text-decoration: none;
}
li{
    float: right;
}
li a{
    display: block;
    color: rgba(0, 0, 0, 0.747);
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}
li a:hover{
    color: tomato;
}
.container{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    height: auto;
    text-align: center;
    width: 200px;
}
h4{
    font-family: sans-serif; 
    text-decoration: underline; 
    margin-bottom: 0
}
p{
    font-family: sans-serif; 
    font-size: 10px
}
button{
    color: aliceblue;
    background-color: tomato;
    border: tomato;
    border-radius: 0.1vw;
    font-size: 0.5vw;
    font-weight: bold;
    padding: 1% 4% 1% 4%;
    outline: none;
}
#pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
#pictures div{
    width: 100px;
    height: 100px;
    margin: 2%;
    justify-content: space-evenly;
    position: relative;
    border-radius: 0.5vw
}
#pictures i{
    color: aliceblue;
    position: absolute;
    margin: auto;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%)
}
          /*for tablets
@media only screen and (max-width:1000px){
    #pictures{
        flex-wrap: wrap
    }
    #pictures div{
        margin: 0 10% ;
        margin-bottom: 5%;
    }
}*/
           /*for mobile
@media only screen and (max-width:800px){
    #pictures{
        flex-wrap: wrap
    }
    #pictures div{
        margin: 0 20% ;
        margin-bottom: 5%;
    }
}*/